<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="css/text">
        <title>Timestamp Microservice</title>
    </head>
    <body style="margin:50px">
        <h1>Free Code Camp</h1>
        <h2 style="color:#007977;">API Basejump: Timestamp Microservice</h2>
        <blockquote style="border-left: 5px solid #00ccc9; margin: 0 0 10px;">
            <h3 style="margin: 20px;">User Stories:</h3>
            <ol style="margin: 10px;">
                <li> I can pass a string as a parameter, and it will check to see whether that string contains either<br> a Unix timestamp or a natural langauge date(example: January 1, 2016)</li>
                <li> If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
                <li> If it does not contain a date or Unix timestamp, it returns null for those properties.</li>    
            </ol>
        </blockquote>
        <h3>Example usage:</h3>
        <code style="color:#007977;background-color:#e6ffff;border-radius:4px;">https://timestamp-mmk.herokuapp.com/December%2015,%202015</code>
        <br>
        <code style="color:#007977;background-color:#e6ffff;border-radius:4px;">https://https://timestamp-mmk.herokuapp.com/1450137600</code>
        <h3>Example output:</h3>
        <code style="color:#007977;background-color:#e6ffff;border-radius:4px;">{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
        <div>
            <p>Created By: <span style="font-size: 20px;"><strong>Melissa Kepler</strong></span></p>
            <div class="btn-group btn-group-lg">
                <a href="https://github.com/Missarachnid/fcc-timestamp" target="_blank"><button type="button" class="btn" style="padding:8px;border-radius: 4px;background-color:#00ccc9;font-size: 18px;margin: 5px;">Github Repository</button></a>
                <a href="mmkepler.com" target="_blank"><button type="button" class="btn" style="padding:8px;border-radius: 4px;background-color:#00ccc9;font-size: 18px;margin: 5px;">mmkepler.com</button></a>
            </div>
            
        </div>
    </body>
</html>